.personal-view{

    .table{
        .id{
            width: 80px;
        }
        .name{
            width: 160px;
        }
        .kani{
            width: 140px;
        }
        .tel{
            // width: 140px;
        }
    }

}
