.personal-view{

    .table{
        .id{
            width: 50px;
        }
        .name{
            width: 100px;
        }
        .kani{
            width: 160px;
        }
        .age{
            width: 80px;
        }
        .tel{
            width: 120px;
        }
        .edit-col{
            width: 60px;
        }
    }

    .info{
        margin-bottom: 10px;
    }

    .edit{
        min-height: 250px;
        border-left: 1px solid #ddd;
        padding-left: 20px;
        line-height: 2;
    }

}
