.company-view{
    .table{
        .id{
            width: 40px;
        }
        .name{
            width: 120px;
        }
        .area{
            width: 120px;
        }
        .owner{
            width: 100px;
        }

        .gdp{
            width: 140px;
        }
    }

}
